<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Redirigir todo a HTTPS (Arregla el "No seguro")
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # 2. Si el archivo o carpeta solicitada EXISTE, no hagas nada (deja pasar el .php)
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # 3. Todo lo demás (rutas que no existen como archivos), mándalo al index.html (SPA)
  RewriteRule ^ index.html [L]
</IfModule>

ErrorDocument 404 /index.html
